<<<<<<< HEAD
body{
   background-color: black;
}

.navbar{
   background-color: black;
   color: white;
}

img{
   max-width: 250px;
   max-height: 500px;
}

#intro, #sub-intro{
   color: orange;
}

.lead{
   font-weight: 500;
}

.btn{
   border: 2px solid orange;
}

#getInTouch{
   background-color: orange;
   font-weight: 600;
   color: white;
}

#viewMore{
   background-color: black;
   color: orange;
}

#about{
   color: orange;
   font-weight: bold;
}

.about-text{
   font-weight: 400;
}

.skills{
   background: linear-gradient(90deg, #ffb347, #ff7e00, #e85d04);
   height: 200px;
}

#skillAndTech{
   color: orange;
}

.card{
    background:
    radial-gradient(circle at 18% 28%, rgba(255, 165, 0, 0.28), transparent 42%),
    radial-gradient(circle at 78% 65%, rgba(255, 140, 0, 0.24), transparent 48%),
    rgba(255, 255, 255, 0.55); /* WHITER glass */

  -webkit-backdrop-filter: blur(34px);
  backdrop-filter: blur(34px);

  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 20px;
}

#proj{
   color: orange;
}

#proj p{
   color: white;
}
=======
body{
   background-color: black;
}

.navbar{
   background-color: black;
   color: white;
}

.profile-img {
  max-width: 350px;
  max-height: 400px;
}


#intro, #sub-intro{
   color: orange;
}

.lead{
   font-weight: 500;
}

.btn{
   border: 2px solid orange;
}

#getInTouch{
   background-color: orange;
   font-weight: 600;
   color: white;
}

#viewMore{
   background-color: black;
   color: orange;
}

#about{
   color: orange;
   font-weight: bold;
}

.about-text{
   font-weight: 400;
}

.skills{
   background: linear-gradient(90deg, #ffb347, #ff7e00, #e85d04);
   height: 200px;
}

#skillAndTech{
   color: orange;
}

.card{
    background:
    radial-gradient(circle at 18% 28%, rgba(255, 165, 0, 0.28), transparent 42%),
    radial-gradient(circle at 78% 65%, rgba(255, 140, 0, 0.24), transparent 48%),
    rgba(255, 255, 255, 0.55); /* WHITER glass */

  -webkit-backdrop-filter: blur(34px);
  backdrop-filter: blur(34px);

  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 20px;
}

#proj{
   color: orange;
}

#proj p{
   color: white;
}

#footer{
   background-color: orange;
   color: white;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#projects .card-title{
   color: white;
}

#projects .btn{
   background-color: orange;
}
>>>>>>> bcb8606 (Connects the biography and add the biography file)
